/* @media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  /* .container {
    width: 700px;
  }
} */

/* @media (max-width: 720px) { */
  /* For a screen < 720px, this CSS will be read */
  /* .container {
    width: 500px;
  }
} */

/* @media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  /* .container {
    width: 300px;
  }
} */

.container {
  max-width: 700px;
  width: 100vw;
  padding: 30px;
  margin: 40px auto;
  box-sizing: border-box;
}

.banner {
  width: 100vw;
  margin: 0 auto;
}

/* #CodeGirl {
  width: 95%;
} */

body {
  text-align: center;
  font-family: 'Barlow', sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-image:url("images/zelda.gif");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-family: Brush Signature;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 3px;
  color:#907198;
    }

h2 {
  font-family: Night Pumpkind;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
  }

h3 {
  font-family: Night Pumpkind;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 4px;
    }


a {
  text-decoration: none;
  }




.card-magnolia {
  background-color: #ebe1eecf;
  color: #453431;
  padding: 50px;
  margin: 25px auto;
  border-radius: 24px;
  box-shadow: 5 5 15px #907198;
}


.card-lilac {
  background-color: #907198fa;
  color: #F0ECE3;
  padding: 50px;
  margin: 25px auto;
  border-radius: 24px;
  box-shadow: 5 5 16px rgba (0,0,0,0.1)
  }

.card-lilac p {
    text-align: justify;
  }

.card-transparent {
  padding: 50px;
  margin: 25px auto;
  justify-content: center;
  display: flex;
}


#GS {
  width: 200px;
  border-radius: 50%
  }

#Flower {
  width: 300px;
  border-radius: 60%
}

.project-img {
 height: 300px;
 width: 475px;
 justify-content: center;
}


#button-purple {
  text-decoration: none;
  background-color: #A68DAD;
  color: #fff;
  padding: 5px ;
  border-radius: 5px;
  box-shadow: 0 0 16px rgba (0,0,0,0.1);
  }

#button-purple:hover {
  background-color: #907198;
  }

#button-purple:transition {
  transition: 0.3s;
  }

li {
  display: inline;
  }

ul {
  padding: 0;
  }


.icons {
  width: 50px;
  display: justify;
  }

.social-icons {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  }

.project-img {
  height: 300px;
  width: 475px;
  justify-content: center;
}

  /* Design adjustments using id (1% design remaining) */
#introduction p {
  margin-bottom: 40px;
}
